.header {
    background-image: url('img/bg.jpg');
    margin: 10px auto 0px auto;
    width: 500px;
    height: 100px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
}

.body {
    margin: 0 auto;
    width: 500px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
}

#title {
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    color: azure;
    font-weight: bold;
}

#currentDay {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: azure;
}

.list-group span {
    float: right;
}

#refresh {
    margin: 5px;
    float: right;
    color: white;
}

#refresh :hover{
    color: limegreen;
}

@media all and (max-width: 414px) {
    .header {
        width: 300px;
        height: 100px;
        margin: 0 auto;
    }

    .body {
        width: 300px;
        margin: 0 auto;
    }
 }